<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Config/etc/system_file.xsd">
    <system>
        <!-- Add new Tab -->
        <tab id="ssseo" translate="label" sortOrder="101">
            <label>Ss Seo Extension</label>
        </tab>
        <section id="ssgeneral" translate="label" type="text" sortOrder="140" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Seo Configuration</label>
            <tab>ssseo</tab>
            <!-- resource tag name which we have to defined in the acl.xml -->
            <resource>Ss_Seo::config_seo</resource>
            <group id="general" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Configuration</label>
                <field id="key" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Google Key</label>
					<comment>Put google spreed sheet key to fetch data.</comment>
                </field>
            </group>
        </section>
    </system>
</config>